# rename this file to rpc.config and put this file in an anime folder,
# e.g.: /media/data/Anime/Boku no Kokoro no Yabai Yatsu.
# make sure that the folder contains only one title.
# for this config, it should only contain the bokuyaba anime
title=Boku no Kokoro no Yabai Yatsu

# if there are multiple files in the folder and they are structured in the same way, as
# is often the case, you can skip setting `match` as the anime_rpc will infer
# the suitable regex pattern based on the file names
#
# match should capture at least the named group "ep"
# "title" can be used if the filename contains the title of the episode
#
# the pattern is used against the metadata.title first, then filename if fails
#
# filename sample that will match the following pattern: "S01E01-I Was Stolen Away [E52C7C1A].mkv"
match=S\d+E(?P<ep>\d+)-(?P<title>.*)\[

# the pattern above is equivalent to
match=S\d+E%ep%-%title%\[

# or if it's a movie
# match=movie

# url for the button can be anything.
# but if you want to use the --fetch-episode-titles feature,
# which scrapes episode titles from MAL, set it to a myanimelist url like below
url=https://myanimelist.net/anime/52578/Boku_no_Kokoro_no_Yabai_Yatsu

# or just
url=https://myanimelist.net/anime/52578

# text for the button if url is set.
# defaults to View Anime.
url_text=View on MAL

# or if you want to disable buttons whilst still being able to use
# the episode title scraper,
# set url_text to an empty string like below
# url_text=

# image_url is required for the large image in the rich presence
# if url is set to a MAL URL, it will be used to scrape the image_url
image_url=https://cdn.myanimelist.net/images/anime/1545/133887.jpg

# If you're rewatching the anime,
# otherwise leave it unset or set to 0
rewatching=1

# for a generic "Watching a stream" presence
# defaults to Anime if not set
# application_id=1337621628179316848
