# Put this in the anime folder
# Make sure that the folder contains only one title
# For this config, it should only contain the bokuyaba anime

title=Boku no Kokoro no Yabai Yatsu
match=(?P<ep>S\d+E\d+)-(?P<title>.*)\[
url=https://myanimelist.net/anime/52578/Boku_no_Kokoro_no_Yabai_Yatsu
image_url=https://cdn.myanimelist.net/images/anime/1545/133887.jpg
rewatching=1