html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
  }

.config-entry {
  display: flex;
  margin: .5em;
}
  
.hidden {
  display: none;
}

.input {
  border: 1px solid grey;
  border-radius: .3em;
  padding: .2em;
  bottom: 3px;
  position: relative;
  min-width: 6rem;
}

.input:focus {
  border-color: black;
}

.input:empty:not(:focus):before {
  content: attr(data-placeholder);
  color: grey;
}

.labeled {
  margin-left: 3px;
}

#error-content {
  padding: 1rem;
  font-size: large;
}
  
body {
  height: 90%;
  font: caption;
  background-color: #F4F7F8;
}

p {
  margin: 1em 2em;
}